extends layout

block content
  h1= "<your-home-page-title>"
  p Welcome to #{"<your-home-page-title>"}
  p What do I do: #{"<your-work>"}
  p Favorite books: #{"<your-favorite-books>"}
  p Favorite movies: #{"<your-favorite-movies>"}
  p Favorite activities: #{"<your-favorite-activities>"}  
